@use 'vars';
@use 'reset';
@use 'fonts';
@use 'basics';

@use '01_Atoms/A_Button';
@use '01_Atoms/A_Link';
@use '01_Atoms/A_Text';
@use '01_Atoms/A_Tag';
@use '01_Atoms/A_StepDot';
@use '01_Atoms/A_GeneratorInput';

@use '02_Molecules/M_WelcomeBlock';
@use '02_Molecules/M_GenerationNav';
@use '02_Molecules/M_TemplateOption';
@use '02_Molecules/M_TemplateTags';
@use '02_Molecules/M_StepIndicator';
@use '02_Molecules/M_PaletteOption';
@use '02_Molecules/M_FontOption';

@use '05_Pages/P_ParameterSelection';

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    background-color: vars.$white;
}

button {
    color: #CCCCCC;
    background-color: white;
    border: none;
    font-size: 24px;
    width: 100%;
    padding: 12px;
}
