@use 'vars';
@use 'reset';
@use 'fonts';
@use 'basics';
@use '01_Atoms/A_Button';
@use '01_Atoms/A_Link';
@use '01_Atoms/A_Text';
@use '02_Molecules/M_WelcomeBlock';
@use '02_Molecules/M_GenerationNav';

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 56px;
    background-color: vars.$white;
}

button {
    color: #CCCCCC;
    background-color: white;
    border: none;
    font-size: 24px;
    width: 100%;
    padding: 12px;
}
