@use '../vars';

.M_GenerationNav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 29.32px;
    padding: 0 0 12px 0;
    border-bottom: 1px solid vars.$border-default;

    p {
        grid-column: 2;
        margin: 0;
        text-align: center;
    }

    a {
        grid-column: 1;
    }
}