@use '../vars';

.A_Button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  transition: all 0.2s;
  font-size: 14px;
  width: fit-content;
  cursor: pointer;
  
  &--primary {
    background-color: vars.$light-blue;
    justify-content: center;
    color: vars.$main-blue;
    height: 82px;
    width: 100vw;
    border-radius: 0;
    border-top: 1px solid rgba(vars.$main-blue, 0.32);
  }

  &--primary-special {
    background-color: vars.$black;
    color: vars.$white;
    justify-content: center;
    height: 82px;
    width: 100vw;
    border-radius: 0;
  }

  &--secondary {
    background-color: transparent;
    color: vars.$text-secondary;
  }

  &--action_block {
    display: flex;
    background-color: transparent;
    color: vars.$text-secondary;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: vars.$rounding-block;
    border: 1px solid vars.$border-default;
  }
} 