@use '../vars';

.A_Text {
  font-style: normal;
  font-family: 'Inter Display', sans-serif;
  &--heading {
    font-size: 32px;
    font-weight: 500;
    line-height: 102%;
    letter-spacing: -0.32px;

    &-center {
        text-align: center;
      }
  }
  
  &--small {
    font-size: 12px;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: -0.12px;
  }

  &--regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 102%;
    letter-spacing: -0.16px;
  }
}